# Auto detect text files and perform LF normalization
* text=auto

*.gitattributes text
*.gitignore text
*.gradle text
*.jade text
*.java text
*.json text
*.txt text
*.xml text
*.js text

*.jar binary
*.png binary